@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* font-size: calc(10px + (15 - 13.5) * ((100vw - 300px) / (1600 - 300))); */
  background-image: url("./images/bg.svg");
}

button {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.stats {
  display: flex;
  gap: 2rem;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.negative {
  color: red;
}
.positive {
  color: green;
}
