.coin {
  display: flex;
  align-items: center;
  box-shadow: 0 3px 5px gray;
  padding: 1rem;
  width: 15rem;
  gap: 0.5rem;
  border-radius: 1rem;
}

.coin img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.information {
  display: flex;
  flex-direction: column;
}
